
<div class="row auth">
  <div class="col-sm-12 col-md-3 col-lg-3"></div>
  <div class="col-sm-12 col-md-6 col-lg-6 ">
    <h3>Please log in</h3>
    <h6 class="guest">For quick functionality look use email: <div>guest@mail.com</div> and password: <div>123456</div></h6>
    <%= erb :'partials/_errors', layout: false, locals: {errors: @errors}%>

    <form action="/sessions" method="Post">

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-info">Log in</button>
    </form>

    <a href="/users/new" class="btn btn-link">or register</a>

  </div>
  <div class="col-sm-12 col-md-3 col-lg-3"></div>
</div>
