<h3>edit comment:</h3>

<%= erb :'partials/_errors', layout: false, locals: {errors: @errors} %>

<form action="/posts/<%=@post.id%>/comments/<%=@comment.id%>" method="Post">
  <input type="hidden" name="_method" value="put">
  <label for="comment">Comment</label>
  <textarea name="comment" rows="8" cols="80"><%=@comment.content%></textarea>
  <input type="submit" value="edit comment">
</form>
