body {
  /* width: 1000px;
  margin: 15px  auto; */
}

/* ********************************** */

.authentication {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25%;
  vertical-align: center;
  list-style: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.authentication label {
  display: none;
}

.authentication * {
  margin: 10px auto;
  display: block;
  text-align: center;

}

.errors {
  margin-left: -31px;
  /*text-align: center;*/
  color: red;
}

/* *************** main page ******************* */

.btn-outline-success {
  border: none;
}

.pagination * {
  margin: 10px;
  font-size: 1.3em;
  font-weight: normal;
}

@media screen and (max-width: 575px) {
  .pagination * {
    margin: 8px;
    font-size: 1.1em;
    font-weight: normal;
  }
}

.date {
  font-size: 0.5em;
}

.info {
  margin: 2%;
  vertical-align: center;
}

.like-count {
  width: 15px;
  padding-top: 6%;
}

.like-count:hover {
  cursor: default;
}

.name * {
  color: #263238;
}

.name *:hover {
  text-decoration: none;
}

.description * {
  color: #616161;
}

.description *:hover {
  text-decoration: none;
}

.comments * {
  color: green;
}

.img-fluid {
  border-radius: 3px;
}
/* ************** profile ******************** */

.avatar {
  height: 150px;
}

.jumbotron {
  padding: 2rem 4rem;
}

 .btn-group-sm * {
   width: 100px;
   margin: 0 auto;
}

/* *********************************************** */

.message-avatar {
  float: right;
  height: 30px;
  /* width: 15px; */
}
