
 <!-- user header partial -->

 <% if @user.followers.any? %>
   <ul>
     <% @user.followers.each do |follower| %>
       <li>
          <div><img src="<%= follower.avatar %>" alt=""> </div>
          <div><%= follower.username %><%= follower.name %></div>
        </li>
     <% end %>
     </ul>
 <% else %>
   <p>You don't have followers yet</p>
 <% end %>
