<h2>all users:</h2>
<div>
  <ul>
      <% @users.each do |user| %>
        <li> <a href="/users/<%=user.id%>">  <%= user.email %> <img src="<%= user.avatar %>" alt="<%= user.avatar %>"> </li> </a>
      <% end %>
  </ul>
</div>
