
<div class="authentication">

  <h3>Please register</h3>

  <%= erb :'partials/_errors', layout: false, locals: {errors: @user.errors.full_messages} %>

  <form action="/users" method="Post">
    <label for="name">Name</label>
    <input type="text" placeholder="name" name="user[name]" value="<%=@user.name%>">
    <label for="username">Name</label>
    <input type="text" placeholder="username" name="user[username]" value="<%=@user.username%>">
    <label for="email">Email</label>
    <input type="text" placeholder="email" name="user[email]" value="<%=@user.email%>">
    <label for="password">Password</label>
    <input type="password" placeholder="password" name="user[password]">
    <input type="submit" value="register">
  </form>

  <a href="/sessions/new">or login</a>

</div>
