<h3>edit post</h3>

<%= erb :'partials/_errors', layout: false, locals: {errors: @errors} %>

<form action="/posts/<%=@post.id%>" method="Post">
  <input type="hidden" name="_method" value="Put">
  <label for="description">description</label>
  <textarea name="description" rows="8" cols="80"><%=@post.description%></textarea>
  <input type="submit" value="save">
</form>
