<a href="/users"> users </a>

<p><strong><a href="/">recently added</a></strong><strong><a href="/?popular">popular</a></strong></p>

<div>
  <% @posts.each do |post| %>
  <div>
    <img src="<%=post.pic_link%> " alt="<%=post.pic_link%> ">
    <div><%=post.description%> <%=post.created_at%> </div>
  </div>
  <% end %>
</div>
