<!DOCTYPE html>
<html lang="en">
<head>
  <title>PetFellow</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">

</head>
  <body class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">PetFellow</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->


          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->

            <form class="form-inline " action="/search" method="get">
              <input class="form-control mr-sm-2" type="search" aria-label="search" type="text" name="request" placeholder="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
            </form>


            <ul class="navbar-nav mr-auto">
            <%if logged_in?%>
              <li class="nav-item nav-link disabled"><%= current_user.username%> </li>
              <li class="nav-item"><a href="/users/<%= current_user.id %>" class="nav-link" >Profile </a></li>
              <li class="nav-item"><a href="/favorite" class="nav-link" >favorite posts</a> </li>
              <li class="nav-item"><a href="/messages" class="nav-link" >messages</a> </li>

            <% end %>


            <% if !(logged_in?) %>
              <li  class="nav-item"><a href="/sessions/new" class="nav-link">Login</a></li>
              <li  class="nav-item"><a href="/users/new" class="nav-link">Sign Up</a></li>
            <% else %>
              <li>
                <form method="post" action="/sessions">
                  <input type="hidden" name="_method" value="DELETE" />
                  <button type="submit" class="btn btn-link">Logout</button>
                </form>
              </li>
            <% end %>

        </ul>


        </div>
    </nav>


    <%= yield %>

  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
