<!DOCTYPE html>
<html lang="en">
<head>
  <title>PetFellow</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">

</head>
<body>
  <h1><a href="/">PetFellow</a></h1>

  <nav>
    <ul class="nav">
      <%if logged_in?%>
      <li><a href="/users"> all users </a></li>
      <li><%= current_user.username%> </li>
      <li><a href="/favorite">favorite posts</a> </li>
      <li><a href="/messages">messages</a> </li>
      <li><a href="/users/<%= current_user.id %>">Profile </a></li>
      <li>
        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Logout" id="logout-button">
        </form>
      </li>
      <% else %>
      <li class="nav-bar"><a href="/sessions/new">Login</a></li>
      <li class="nav-bar"><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>

  <form action="/search" method="get">
    <input type="text" name="request" placeholder="search">
    <input type="submit" value="search"></input>
  </form>

  <%= yield %>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
